{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center my-3">

            <div class="col-12 col-md-6">

                <div class="fs-4">{{ 'price-list'|trans }}</div>
                <hr/>
                <p>All payments can be made online using a credit card, debit card, Apple Pay, or Google Pay.</p>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Service</th>
                        <th class="text-center" scope="col">Price</th>
                        <th class="text-center" scope="col">Duration</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ 'quiz-access'|trans|title }}</td>
                        <td class="text-center">FREE</td>
                        <td class="text-center">unlimited</td>
                    </tr>
                    <tr>
                        <td>{{ 'conversational-lessons'|trans|title }}</td>
                        <td class="text-center">{{ '199'|format_currency('CZK') }} / ({{ '7.86'|format_currency('EUR') }})</td>
                        <td class="text-center">1 hour</td>
                    </tr>
                    <tr>
                        <td>{{ 'private-lesson'|trans|title }}</td>
                        <td class="text-center">{{ '499'|format_currency('CZK') }} / ({{ '19.71'|format_currency('EUR') }})</td>
                        <td class="text-center">1 hour</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}
