{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center g-0 mt-3">
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="card-header">
                        <div class="fs-3 fw-bold text-capitalize">{{ 'login'|trans|title }}</div>
                    </div>
                    <form method="post">
                        <div class="card-body vstack gap-3">

                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <div class="form-floating">
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                       class="form-control" autocomplete="email"
                                       placeholder="{{ 'email-placeholder'|trans }}" required autofocus>
                                <label for="inputEmail">{{ 'email-address'|trans }}</label>
                            </div>
                            <div class="input-group" {{ stimulus_controller('password-visibility') }}>
                            <div class="form-floating">
                                <input {{ stimulus_target('password-visibility', 'input') }} type="password" name="password" id="inputPassword" class="form-control"
                                       autocomplete="current-password" required
                                       placeholder="{{ 'password-placeholder'|trans }}">
                                <label for="inputPassword">{{ 'password'|trans }}</label>
                            </div>
                                <button {{ stimulus_action('password-visibility', 'toggle') }} class="btn btn-secondary" type="button"
                                        id="button-addon2">
                                    <span {{ stimulus_target('password-visibility', 'icon') }} class="bi bi-eye"></span>
                                    <span {{ stimulus_target('password-visibility', 'icon') }} class="hidden bi bi-eye-slash"></span>
                                </button>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                        </div>
                        <div class="card-footer">
                            <div class="vstack gap-3 text-center">
                                <button type="submit" class="btn btn-lg btn-primary">{{ 'login'|trans }}</button>
                                <a href="{{ path('app_register') }}" type="button"
                                   class="link-dark">{{ 'register'|trans }}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
