<div class="card" id="comment_{{ comment.id }}">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div>{{ comment.owner.fullName }}</div>
            <div class="hstack gap-3">
                {% if is_granted('ROLE_TEACHER', app.user) %}
                    <span class="badge badge-primary text-bg-primary rounded-pill">{{ 'teacher'|trans|capitalize }}</span>
                {% else %}
                    <span class="badge badge-dark text-bg-dark rounded-pill">{{ 'teacher'|trans|capitalize }}</span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-body">
        <div>{{ comment.content|nl2br }}</div>
    </div>
    <div class="card-footer text-end">
        <div class="small text-muted">{{ comment.createdAt.diffForHumans }}</div>
    </div>
</div>