{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center my-3">
            <div class="col-6">

                {% for label, messages in app.flashes(['success', 'danger']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} my-3 text-center" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}


                <div class="card mb-3">
                    <div class="card-body text-center">
                        <div class="display-1 text-primary">
                            {{ currentWord }}
                        </div>
                    </div>
                </div>

                <div class="card">
                    {{ form_start(wordAssociationForm) }}
                    <div class="card-body">
                        {{ form_row(wordAssociationForm.potentiallyRelatedWord) }}
                    </div>
                    {{ form_end(wordAssociationForm) }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
