{% extends 'base.html.twig' %}

{% block title %}{{ quizParticipation.quiz.title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center my-3">
            <div class="col-12 col-md-6">

                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <div class="fs-5">{{ quizParticipation.quiz.title|title }}</div>
                        <div class="text-muted">{{ 'started'|trans }} {{ quizParticipation.startAt.diffForHumans({short:true}) }}</div>
                    </div>
                    <div class="sticky-top" {{ stimulus_controller('countdown', {seconds: quizParticipation.quizDurationInSeconds}) }}>
                        <div class="text-white fw-normal fs-2 badge text-bg-primary rounded-pill" {{ stimulus_target('countdown', 'display') }}></div>
                    </div>
                </div>
                <hr/>
                {% if question.questionExtra is not empty %}
                    {% if question.questionExtra.supportingContentTypeEnum == constant('App\\Enum\\Quiz\\SupportingContentTypeEnum::TEXT') %}
                        <div {{ stimulus_controller('read-more', {
                            moreText: 'read-more'|trans,
                            lessText: 'read-less'|trans,
                        }) }} >
                            <div class="read-more-content" {{ stimulus_target('read-more', 'content') }}> {{ question.questionExtra.content|raw }}</div>
                            <div class="text-center mt-3">
                                <a class="link-primary" {{ stimulus_action('read-more', 'toggle') }}>{{ 'read-more'|trans }}</a>
                            </div>
                        </div>
                    {% elseif question.questionExtra.supportingContentTypeEnum == constant('App\\Enum\\Quiz\\SupportingContentTypeEnum::AUDIO') %}
                        <div class="d-flex justify-content-around align-items-center g-3 bg-light p-2 rounded-pill" data-controller="sound" data-sound-url-value="{{ question.questionExtra.path }}">
                            <a class="btn btn-primary rounded-pill" data-action="sound#play">
                                <i class="bi bi-play-fill fs-4"></i>
                            </a>
                            <a class="btn btn-secondary rounded-pill" data-action="sound#pause">
                                <i class="bi bi-pause-fill fs-4"></i>
                            </a>
                            <a class="btn btn-secondary rounded-pill" data-action="sound#reset">
                                <i class="bi bi-arrow-counterclockwise fs-4"></i>
                            </a>
                        </div>
                    {% elseif question.questionExtra.supportingContentTypeEnum == constant('App\\Enum\\Quiz\\SupportingContentTypeEnum::VIDEO') %}
                        {% if question.questionExtra.path matches '/youtube\.com|youtu\.be/' %}
                            <iframe
                                    width="100%"
                                    height="350"
                                    class="w-100 object-fit-cover"
                                    src="{{ question.questionExtra.path }}"
                                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                                    allowfullscreen>
                            </iframe>
                        {% else %}
                            <video class="w-100 object-fit-cover" controls>
                                <source src="{{ asset(question.questionExtra.path) }}" type="video/mp4">
                                Your browser does not support the video element.
                            </video>
                        {% endif %}
                    {% elseif question.questionExtra.supportingContentTypeEnum == constant('App\\Enum\\Quiz\\SupportingContentTypeEnum::IMAGE') %}
                        <img class="img-fluid rounded" src="{{ question.questionExtra.path }}" alt="Supporting Content">
                    {% else %}
                    {% endif %}
                    <hr/>
                {% endif %}

                {% if question.instruction is not empty %}
                    <div class="text-muted">{{ question.instruction }}</div>
                {% endif %}

                <div class="my-4 lead">{{ question.content|raw }}</div>
                <p class="text-center text-muted small">Remember, more than one answer might be correct.</p>

                {{ form_start(answerForm) }}
                {{ form_row(answerForm.answers) }}
                <button type="submit" class="btn btn-secondary btn-lg w-100">{{ 'next'|trans }}</button>
                {{ form_end(answerForm) }}
            </div>

        </div>
    </div>
{% endblock %}