{% extends 'base.html.twig' %}

{% block title %}Quizzes{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center my-3 g-3">

            <div class="col-12 col-md-6">
                <div class="row justify-content-center my-3 g-3">
                    <div class="col-12 col-md-12">
                        <div class="mb-3">
                            {{ form_start(quizFilter) }}
                            <div class="row justify-content-between g-3 align-items-center">
                                <div class="col-12 col-md-5">{{ form_row(quizFilter.categoryEnum) }}</div>
                                <div class="col-12 col-md-5">{{ form_row(quizFilter.levelEnum) }}</div>
                                <div class="col-12 col-md-2  text-end">
                                    <button class="btn btn-primary btn-lg w-100 d-block d-md-none">{{ 'search'|trans }}</button>
                                    <button class="btn btn-primary btn-lg d-none d-md-inline">
                                        <i class="bi bi-search text-white fs-3"></i>
                                    </button>
                                </div>
                            </div>
                            {{ form_end(quizFilter) }}
                        </div>
                    </div>
                    <div class="col-12 col-md-12">
                        <div class="vstack gap-3">

                            {% if not app.user %}
                                <div class="alert alert-info text-center small">
                                    <div>Our quizzes are entirely free, with no ads, but you'll need to sign up to
                                        access them all.
                                    </div>
                                    <hr class="my-2"/>
                                    <div>
                                        <a class="link link-dark"
                                           href="{{ path('app_register') }}">{{ 'sign-up'|trans }}</a>
                                    </div>
                                </div>
                            {% endif %}

                            {% for quiz in quizzesPagination %}
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <div class="fs-3">{{ quiz.title }}</div>
                                    </div>
                                    <div class="card-header">
                                        <div class="badge fw-normal text-bg-primary text-white">
                                            <i class="bi bi-stopwatch-fill me-1"></i>
                                            {{ quiz.timeLimitInMinutes }} {{ 'minutes'|trans }}
                                        </div>
                                        <div class="badge fw-normal text-bg-secondary">
                                            {{ quiz.questions.count }}
                                            {{ 'questions'|trans }}
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        {{ quiz.description|nl2br }}
                                    </div>
                                    <div class="card-footer text-end">
                                        <a href="{{ path('quiz_start', { 'id': quiz.id }) }}"
                                           class="btn rounded-pill btn-secondary">
                                            <i class="bi bi-arrow-right-short fs-3"></i>
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                <hr/>
                                <div class="text-center">
                                    <h5>{{ 'nothing-found'|trans }}</h5>
                                    <div class="list-group-item text-center text-muted">{{ 'no-quizzes-found'|trans }}</div>
                                </div>
                            {% endfor %}

                            <div class="col-12">
                                <div class="my-5">
                                    {{ knp_pagination_render(quizzesPagination) }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
