{% extends 'base.html.twig' %}

{% block title %}Quizzes{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center my-3 g-3">

            <div class="col-12 col-md-6">
                <div class="row justify-content-center my-3 g-3">
                    <div class="col-12 col-md-12">
                        <div class="mb-3">
                            <h5>{{ 'quizzes'|trans|title }}</h5>
                            {{ form_start(quizFilter) }}
                            <div class="row justify-content-between g-3 align-items-center">
                                <div class="col-12 col-md-5">{{ form_row(quizFilter.categoryEnum) }}</div>
                                <div class="col-12 col-md-5">{{ form_row(quizFilter.levelEnum) }}</div>
                                <div class="col-12 col-md-2  text-end">
                                    <button class="btn btn-primary btn-lg w-100 d-block d-md-none">{{ 'search'|trans }}</button>
                                    <button class="btn btn-primary rounded-pill btn-lg d-none d-md-inline">
                                        <i class="bi bi-search text-white fs-3"></i>
                                    </button>
                                </div>
                            </div>
                            {{ form_end(quizFilter) }}
                        </div>
                    </div>
                    <div class="col-12 col-md-12">
                        <div>
                            <div class="vstack gap-3">
                                {% for quiz in quizzesPagination %}
                                    <div class="card border-0">
                                        <div class="card-header">
                                            <div class="fw-bold">{{ quiz.title }}</div>
                                            <div class="text-muted small">{{ 'quiz_taken_by'|trans({count: quiz.quizParticipations.count|compact_notation }) }}</div>
                                        </div>
                                        <div class="card-header d-flex justify-content-around align-items-center flex-wrap gap-2 fs-5">
                                            <div class="badge fw-normal rounded-pill text-bg-primary text-white">
                                                {{ quiz.levelEnum.value|trans }}
                                            </div>
                                            <div class="badge fw-normal rounded-pill text-bg-secondary text-black">
                                                {{ quiz.categoryEnum.value|trans }}
                                            </div>
                                            <div class="badge fw-normal text-bg-secondary rounded-pill text-black">
                                                {{ quiz.timeLimitInMinutes }} {{ 'minutes'|trans }}
                                            </div>
                                            <div class="badge fw-normal rounded-pill text-bg-secondary text-black">
                                                {{ quiz.questions.count }}
                                                {{ 'questions'|trans }}
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            {{ quiz.description|nl2br }}
                                        </div>
                                        <div class="card-footer d-flex justify-content-between align-items-center">
                                            <div {{ stimulus_controller('clipboard', { successContent: '<div class="bi bi-check-lg text-success fs-4"></div>'|raw }) }}>
                                                <div class="hidden" {{ stimulus_target('clipboard', 'source') }}
                                                     data-value="{{ url('quiz_start', {id: quiz.id}) }}">
                                                    {{ url('quiz_start', {id: quiz.id}) }}
                                                </div>
                                                <button type="button" {{ stimulus_action('clipboard', 'copy', 'click') }} {{ stimulus_target('clipboard', 'button') }}
                                                        class="btn rounded-pill btn-light">
                                                    <div class="bi bi-copy fs-4"></div>
                                                </button>
                                            </div>
                                            <a href="{{ path('quiz_start', { id: quiz.id }) }}"
                                               class="btn rounded-pill btn-light">
                                                <i class="bi bi-arrow-right-short fs-4"></i>
                                            </a>
                                        </div>
                                    </div>
                                {% else %}
                                    <hr/>
                                    <div class="text-center">
                                        <h5>{{ 'nothing-found'|trans }}</h5>
                                        <div class="list-group-item text-center text-muted">{{ 'no-quizzes-found'|trans }}</div>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="col-12">
                                <div class="my-5">
                                    {{ knp_pagination_render(quizzesPagination) }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
