{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <div class="w-100 z-3" {{ stimulus_controller('confetti', {
        score: quizParticipation.score
    }) }}></div>
    <div class="container">
        <div class="row justify-content-center g-3 my-3">

            <div class="col-12 col-md-3">
                <div class="card sticky-top">
                    <div class="card-header text-center">
                        <div class="fw-lighter text-center display-1 text-primary">{{ quizParticipation.score|round ~ '%' }}</div>
                        {% if quizParticipationStatistic.betterThanPercentage >= 80 %}
                            <div class="text-center text-muted small">{{ 'better-then-stat'|trans({betterThan: quizParticipationStatistic.betterThanPercentage }) }}</div>
                        {% endif %}
                    </div>
                    <div class="list-group list-group-flush">
                        <div class="list-group-item text-center">
                            <div class="fw-bold">{{ quizParticipation.quiz.title|title }}</div>
                        </div>
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div>{{ 'duration'|trans }}</div>
                            {{ quizParticipation.createdAt.diffForHumans }}

                            {% if quizParticipation.completedAt is empty %}
                                <div>{{ 'in-progress'|trans }}</div>
                            {% else %}
                                <div>{{ quizParticipation.completionTimeInMintues ~ ' min' }}</div>
                            {% endif %}
                        </div>
                        <div class="list-group-item text-center text-muted">
                            {{ quizParticipation.startAt|format_date }}
                        </div>
                    </div>
                    <div class="card-footer">
                        <div {{ stimulus_controller('clipboard', { successContent: '<div class="bi bi-check-lg text-success fs-4"></div>'|raw }) }}>
                            <div class="hidden" {{ stimulus_target('clipboard', 'source') }}
                                 data-value="{{ url('quiz_result', {id: quizParticipation.id}) }}">
                                {{ url('quiz_result', {id: quizParticipation.id}) }}
                            </div>
                            <button type="button" {{ stimulus_action('clipboard', 'copy', 'click') }} {{ stimulus_target('clipboard', 'button') }}
                                    class="btn rounded-pill btn-light">
                                <div class="bi bi-share-fill fs-4"></div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">

                {% if quizParticipation.quiz.categoryEnum.value == 'category.level_assessment' %}
                    <div class="card border-success mb-3">
                        <div class="card-body text-center">
                            {{ 'level-achieved'|trans({ level: app.user.levelEnum.value|trans }) }}
                        </div>
                    </div>
                {% endif %}

                <div class="vstack gap-3">
                    {% for question in quizParticipation.quiz.questions %}
                        <div class="card">
                            <div class="card-header lead d-flex justify-content-between align-items-start">
                                <div>{{ question.content|raw }}</div>
                                <div class="badge text-bg-dark rounded-pill">{{ quizParticipation|calculate_question_score(question) }}</div>
                            </div>
                            <div class="list-group list-group-flush">
                                {% for answerOption in question.answerOptions %}
                                    {# Check if the answerOption is in any of the user's answers for this question #}
                                    {% set isActive = false %}
                                    {% for answer in quizParticipation.answers %}
                                        {% if question == answer.question and answerOption in answer.answers %}
                                            {% set isActive = true %}
                                        {% endif %}
                                    {% endfor %}
                                    <div class="list-group-item {{ isActive ? 'custom-active' : '' }} d-flex justify-content-between align-items-center">
                                        <div class="lead">{{ answerOption.content }}</div>
                                        {% if answerOption.isCorrect %}
                                            <div class="bi bi-check text-success fs-3"></div>
                                        {% else %}
                                            <div class="bi bi-x text-danger fs-3"></div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
