{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center my-3">

            <div class="col-12 col-md-6">

                <div class="display-5">{{ 'find-a-lesson'|trans|title }}</div>
                <hr/>

                <div class="mb-3">
                    {{ form_start(lessonFilter) }}
                    <div class="row justify-content-between g-3 align-items-center">
                        <div class="col-12 col-md-5">{{ form_row(lessonFilter.categoryEnum) }}</div>
                        <div class="col-12 col-md-5">{{ form_row(lessonFilter.levelEnum) }}</div>
                        <div class="col-12 col-md-2  text-end">
                            <button class="btn btn-primary btn-lg w-100 d-block d-md-none">{{ 'search'|trans }}</button>
                            <button class="btn btn-primary btn-lg d-none d-md-inline">
                                <i class="bi bi-search text-white fs-3"></i>
                            </button>
                        </div>
                    </div>
                    {{ form_end(lessonFilter) }}
                </div>

                <div class="vstack gap-3">
                    {% for lesson in lessons %}
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="fw-bold fs-4">{{ lesson.title }}</div>
                                </div>
                                <div class="text-primary">{{ lesson.startAt|format_datetime(timezone='Europe/Prague',timeFormat='short') }}
                                    - {{ lesson.endAt|format_time(timezone='Europe/Prague',timeFormat='short') }}
                                </div>
                            </div>
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <div>
                                    <span class="badge badge-primary text-bg-primary rounded-pill">{{ lesson.categoryEnum.value|trans }}</span>
                                    <span class="badge badge-secondary text-bg-secondary rounded-pill">{{ lesson.levelEnum.value|trans }}</span>
                                </div>
                                <div>
                                    <div class="badge bg-dark rounded-pill hstack gap-2">
                                        <i class="bi bi-people-fill"></i>
                                        <div>{{ lesson.lessonParticipants.count|compact_notation }}</div>
                                    </div>
                                </div>
                            </div>
                            {% if lesson.isParticipant(app.user) %}
                                <div class="bg-warning p-2 text-center" role="alert">
                                    You have joined this lesson
                                </div>
                            {% endif %}
                            <div class="card-body">{{ lesson.description|raw }}</div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-start gap-3 align-items-start">
                                    <div>
                                        <img class="object-fit-cover rounded-circle" width="50" height="50" src="{{ lesson.teacher.avatar }}" />
                                    </div>
                                    <div>
                                        <div>{{ lesson.teacher.fullName }}</div>
                                        <div class="small text-muted">{{ 'teacher'|trans|title }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-end">
                                {% if lesson.isParticipant(app.user) or is_granted('ROLE_TEACHER', app.user) %}
                                    <a class="btn btn-primary rounded-pill"
                                       href="{{ path('show_lesson', {id: lesson.id}) }}">
                                        <i class="bi bi-arrow-right-short fs-3"></i>
                                    </a>
                                {% else %}
                                    <a href="{{ path('select_payment_option', {id: lesson.id}) }}"
                                       class="btn btn-outline-primary fw-bold">{{ 'join-lesson'|trans({amount: (lesson.price / 100) |format_currency(lesson.currency)}) }}</a>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <hr/>
                        <div class="text-center">
                            <div class="list-group-item text-center text-muted">{{ 'no-lessons-found'|trans|title }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
