{% extends 'base.html.twig' %}

{% block title %}{{ lesson.title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center my-3">

            <div class="col-12 col-md-3">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="fw-bold fs-4">{{ lesson.title }}</div>
                        <div class="text-primary">{{ lesson.startAt|format_datetime(timezone='Europe/Prague',timeFormat='short') }}
                            - {{ lesson.endAt|format_time(timezone='Europe/Prague',timeFormat='short') }}
                            ({{ lesson.duration }})
                        </div>
                    </div>
                    <div class="card-body">{{ lesson.description|raw }}</div>
                </div>

                {% if lesson.isStartingIn(5) %}
                    <a href="{{ lesson.onlineUrl }}" target="_blank"
                       class="btn btn-primary d-flex justify-content-between align-items-center">
                        <div>{{ 'join-call'|trans }}</div>
                        <i class="bi bi-camera-video-fill"></i>
                    </a>
                {% else %}
                    <div class="card">
                        <div class="card-body text-center">
                            <i class="text-muted bi bi-exclamation-triangle fs-4"></i>
                            <div class="text-muted text-center">You will get the video call link 5 minutes before the
                                lesson.
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>
            <div class="col-12 col-md-6">
                {% if lesson.isStartingIn(5) %}
                    // TODO: add lesson commenting
                {% else %}
                    <div class="vstack gap-3">
                        {% for lessonParticipant in lesson.lessonParticipants %}
                            <div class="card">
                                <div class="card-body">{{ 'student-joined'|trans({name: lessonParticipant.owner.fullName, when: lessonParticipant.createdAt.diffForHumans}) }}</div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
