<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ asset('images/logo.ico') }}"/>
    <meta name="keywords" content="English quizzes online, Free English tests, ESL, IELTS practice quizzes, SAT English quizzes, Business English quizzes, English proficiency tests, online English exam practice"/>
    <meta property="og:title" content="Boost Your English with Free Online Quizzes for IELTS, SATs, and Business English"/>
    <meta property="og:description" content="The leading destination for all things ESL. Enhance your English skills with quizzes for General & Business English, IELTS, SATs, and more. Perfect for learners aiming for success in exams and professional settings."/>
    <title>{% block title %}Talk English{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
              rel="stylesheet">
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}

        {% if app.environment == 'prod' %}
            <!-- Google tag (gtag.js) -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-7FPQ0R1J5F"></script>
            <script>
                window.dataLayer = window.dataLayer || [];

                function gtag() {
                    dataLayer.push(arguments);
                }

                gtag('js', new Date());

                gtag('config', 'G-7FPQ0R1J5F');
            </script>
        {% endif %}
    {% endblock %}
</head>
<body data-bs-theme="light">
{{ include('partial/_navbar.html.twig') }}

{% if app.user and app.user.email is empty or app.user and app.user.password is empty %}
    <div class="alert alert-warning text-center" role="alert">
        Please note you are logged in as a guest user, <a class="link-dark" href="{{ path('complete_registration') }}">complete registration</a> in
        {{ app.user.daysRemainingUntilGuestAccountDelation }}
        days or your account will be deleted.
    </div>
{% endif %}

<div class="container">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} border-0 my-3 alert-dismissible fade show">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}
</div>

<div class="min-vh-70">
    {% block body %}{% endblock %}
</div>
{{ include('partial/_footer.html.twig') }}
</body>
</html>
