<nav class="navbar navbar-expand bg-info">
    <div class="container">
        <a class="navbar-brand" href="{{ app.user ? path('user_dashboard') }}">
            <img src="{{ asset('images/logo.webp') }}" height="40" width="40"/>
        </a>
        <ul class="navbar-nav ms-auto mb-0 align-items-center">
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="#" type="button" data-bs-toggle="offcanvas"
                       data-bs-target="#user-menu-off-canvas" aria-controls="user-menu-off-canvas">
                        {{ app.user.fullName }}
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link {{ app.request.attributes.get('_route') == 'app_login' ? 'active' }}"
                       aria-current="page"
                       href="{{ path('app_login') }}">{{ 'login'|trans|title }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.attributes.get('_route') == 'app_register' ? 'active' }}"
                       href="{{ path('app_register') }}">{{ 'register'|trans|title }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% if app.user %}
    <div class="offcanvas offcanvas-end" tabindex="-1" id="user-menu-off-canvas" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">{{ app.user.fullName }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="list-group list-group-flush">
                <a class="list-group-item" href="{{ path('user_dashboard') }}">{{ 'dashboard'|trans }}</a>
                <a class="list-group-item" href="{{ path('quizzes') }}">{{ 'quizzes'|trans }}</a>
                <a class="list-group-item text-danger"
                   href="{{ path('app_logout') }}">{{ 'logout'|trans }}</a></li>
            </div>
        </div>
    </div>
{% endif %}