{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center my-3">

            <div class="col-12 col-md-6">
                {{ form_start(userAccountForm) }}

                <div class="card mb-3">
                    <div class="card-header">
                        Account Details
                    </div>
                    <div class="card-body vstack gap-3">
                        <div class="input-group">
                            {{ form_row(userAccountForm.firstName) }}
                            {{ form_row(userAccountForm.lastName) }}
                        </div>
                        {{ form_row(userAccountForm.email) }}
                        {{ form_row(userAccountForm.accountTypeEnum) }}
                        {% if userAccountForm.levelEnum is defined %}
                            {{ form_row(userAccountForm.levelEnum) }}
                        {% endif %}
                        {{ form_row(userAccountForm.timezone) }}
                        {{ form_row(userAccountForm.subscribedToWeeklyQuizEmail) }}
                        <button type="submit" class="btn btn-primary">{{ 'save'|trans }}</button>
                    </div>
                </div>
                {{ form_end(userAccountForm) }}

            </div>
        </div>
    </div>
{% endblock %}
