{% extends 'base.html.twig' %}

{% block title %}Your Quizzes{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center my-3">

            <div class="col-12 col-md-6">

                <div class="mb-3">
                    <a class="btn btn-primary btn-lg" href="{{ path('practice_start') }}">{{ 'new-quiz'|trans }}</a>
                </div>

                <div class="vstack gap-3">
                    {% for quizParticipation in app.user.quizParticipations %}
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <div class="fw-lighter text-center text-primary fs-1">{{ quizParticipation|calculate_quiz_percentage ~ '%' }}</div>
                            </div>
                            <div class="list-group list-group-flush">
                                <div class="list-group-item d-flex justify-content-between align-items-center">
                                    <div>{{ 'duration'|trans }}</div>
                                    <div>{{ quizParticipation.startAt.diffInMinutes(quizParticipation.completedAt)|round(2) ~ ' min' }}</div>
                                </div>
                                <div class="list-group-item text-center small">
                                    {{ quizParticipation.createdAt.diffForHumans }}
                                </div>
                            </div>
                            <div class="card-footer text-end">
                                <a class="btn btn-outline-secondary rounded-pill"
                                   href="{{ path('quiz_result', {id: quizParticipation.id}) }}">
                                    <i class="bi bi-arrow-right-short fs-4"></i>
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <div class="list-group-item text-center text-muted">{{ 'no-quizzes-taken'|trans }}</div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
